<div class="row p-5 title">
    <div class="col-12 d-flex justify-content-center text-center">
        <h1>
            <b>
                {{this.title}}
            </b>
        </h1>
    </div>
</div>