* {
    font-style: italic;
    font-family: 'originTech';
}


/* Title Styles */

.title {
    background-color: #272725;
    color: white;
    opacity: 0.6;
    box-shadow: 0 0 8px 0px white inset;
}