<div class="container-fluid">
    <div class="row">
        <div class="col-12 vh-100 page-background animation">

            <!-- Page Header -->
            <header-title [title]="this.enum.title"></header-title>

            <!-- Play Button -->
            <div class="row h-row ">
                <div class="col-12 d-flex justify-content-center justify-content-md-end align-items-center align-items-md-end">
                    <button routerLink="{{this.enum.link}}" class="btn btn-pink btn-pink-animation btn-font-size border-radius p-5">
                        <b>
                            {{enum.buttonTitle}}
                        </b>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>