/* Heigth */

.vh-100 {
    height: 100vh;
}

.h-row {
    height: calc(100% - 300px);
}

.page-background {
    background-image: url(../../../../assets/images/welcome-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Button Styles */

.btn-pink {
    background-color: #f61d80;
    border-color: #f61d80;
    color: white;
    cursor: pointer;
}

.btn-pink-animation {
    text-shadow: 6px 6px 6px grey;
    box-shadow: 6px 6px 6px black;
    transition: all 0.5s;
}

.btn-pink-animation:hover {
    box-shadow: 2px 2px 2px #f61d80, 0px 0px 35px 0px #f61d80;
    text-shadow: 0px 0px 2px #fff, 0px 0px 2px #fff;
    transform: translateY(4px);
    transition: all 0.5s;
}

.btn-font-size {
    font-size: 25px;
}

.border-radius {
    border-radius: 50px;
}


/* Animation */

.animation {
    animation: fadeout 1s;
}

@keyframes fadeout {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}