/* You can add global styles to this file, and also import other style files */

body {
    background-color: #ffaa01;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@font-face {
    font-family: originTech;
    src: url(assets/fonts/OriginTech.otf) format("opentype");
}