/* Label */

label {
    color: white;
    text-shadow: 6px 6px 6px #b87c04;
}

.mt-6 {
    margin-top: 6rem;
}


/* Heigth */

.vh-100 {
    height: 100vh;
}

.h-row {
    height: calc(100% - 300px);
}

.page-background {
    background-image: url(../../../../assets/images/game-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Input Styles */

input:focus,
input {
    background-color: #da9407;
    border: solid 2px #da9407;
    color: white !important;
    border-radius: 10px;
    box-shadow: 6px 6px 6px #b87c04;
    transition: all 0.3s;
}

input:hover,
.btn-yellow-animation:hover {
    box-shadow: 2px 2px 2px #da9407, 0px 0px 35px 0px #da9407;
    text-shadow: 0px 0px 2px #fff, 0px 0px 2px #fff;
    transform: translateY(1px);
    transition: all 0.3s;
}

input::placeholder {
    text-align: center;
    color: white !important;
}


/* Button Styles */

.btn-yellow {
    background-color: #da9407;
    border-color: #da9407;
    color: white;
    cursor: pointer;
}

.btn-yellow-animation {
    text-shadow: 6px 6px 6px #b87c04;
    box-shadow: 6px 6px 6px #b87c04;
    transition: all 0.3s;
}

.btn-font-size {
    font-size: 25px;
}

.border-radius {
    border-radius: 28px;
}


/* Animation */

.animation {
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0px);
    }
}