<div class="container-fluid">
    <div class="row">
        <div class="col-12 vh-100 page-background animation">

            <!-- Page Header -->
            <header-title [title]="enum.title"></header-title>

            <div class="container-fluid h-row mt-6">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center justify-content-md-start align-items-center">
                        <form (ngSubmit)="this.checkPlay()" [formGroup]='formGroup'>

                            <!-- Input to write the number -->
                            <div class="row">
                                <div class="col-12 text-center">
                                    <label for="game-input">
                                    <h4>
                                        <b>
                                            {{this.enum.label}}
                                        </b>
                                    </h4>
                                    <h4>
                                        <b>
                                            {{this.enum.labelSecondLine}}
                                        </b>
                                    </h4>
                                </label>

                                    <input formControlName="{{this.enum.controlName}}" class="w-100 mt-2 p-3" type="number" placeholder="{{this.enum.inputPlaceholder}}" id="game-input">
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-yellow btn-yellow-animation btn-font-size border-radius px-5 mt-5 w-100">
                                    <b>
                                        {{this.enum.buttonTitle}}
                                    </b>
                                </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>